.idea/
target/classes/META-INF/maven/com.taskhub/Taskhub/pom.properties
target/test-classes/feature/escenarioModificarProyecto.feature
target/test-classes/feature/EscenarioLogin.feature
target/test-classes/feature/EscenarioCrearProyecto.feature
target/test-classes/Ejecutador/Runner.class
target/test-classes/DefinicionPasos/ModificarProyecto.class
target/test-classes/DefinicionPasos/Login.class
target/test-classes/DefinicionPasos/CrearProyecto.class
target/test-classes/DefinicionPasos/Configuracion.class
target/test-classes/cucumber.properties
target/test-classes/chrome/chromedriver.exe
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/cucumber.json
target/cucumber-results.xml
target/cucumber-reports/report.html
target/classes/META-INF/maven/com.taskhub/Taskhub/pom.xml
target/classes/META-INF/MANIFEST.MF
